#Canvas {
  background-color: rgb(17, 147, 156);
  box-shadow: 0 0 10px rgba(229, 255, 0, 0.5);
}

body {
  text-align: center;
  margin: 0;
  background-color: rgba(34, 99, 37, 0.288);
}

h1 {
  color: rgb(44, 62, 80);
  text-shadow: 2px 2px rgba(255, 255, 255, 0.5);
}

button {
  background-color: rgb(255, 0, 0);
  border: none;
  color: rgb(148, 28, 28);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(133, 45, 45, 0.5); /* Butonlar için bir gölgeleme efekti eklenerek daha 3 boyutlu hale getirildi.*/
}

.goal {
  font-size: 40px;
  color: rgb(255, 255, 0);
  text-shadow: 2px 2px rgba(168, 33, 33, 0.5); /* Gol olduğunda sarı yazıya kırmızı gölgeleme efekti eklenerek daha dikkat çekici hale getirildi./
  animation: zoom 0.5s ease-in-out; / Gol olduğunda yazıya zoom efekti eklenerek daha heyecanlı bir hale getirildi.*/
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(63, 21, 21, 0.5); /* Alert kutusu arka planı koyu renkli bir yarı şeffaf katman ile kaplandı.*/
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.alert-message {
  background-color: rgb(180, 35, 35);
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(27, 137, 141, 0.5);
  animation: bounce 0.5s ease-in-out; /* Alert kutusu açıldığında hafif bir bounce efekti eklenerek daha eğlenceli bir hale getirildi.*/
}

@keyframes bounce {
  0% {
    transform: translateY(-100px);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}
